@using BouillonChanvre.Models
@using BouillonChanvre.Services
@inject ISubCategoryService SubCategoryService
@inject IDialogService DialogService

@code {
    [Parameter] public EventCallback<int?> OnSelectedIdChanged { get; set; }
    [Parameter]
    public int? CategoryId { get; set; }
    [Parameter]
    public int? SelectedId
    {
        get => selectedId;
        set
        {
            if (selectedId != value)
            {
                selectedId = value;
                OnSelectedIdChanged.InvokeAsync(selectedId);
            }
        }
    }

    private List<SubCategory> subCategories = new List<SubCategory>();
    private int? selectedId;
    private int? categoryId;

    protected override async Task OnParametersSetAsync()
    {
        if (categoryId != CategoryId)
        {
            categoryId = CategoryId;
            await FetchSubCategories();
        }
    }

    private async Task FetchSubCategories()
    {
        if (CategoryId == null || CategoryId == 0)
            return;

        subCategories = await SubCategoryService.GetSubCategoriesByCategoryId(CategoryId.Value);
    }

    private async Task OpenNewItemModal()
    {
        var parameters = new DialogParameters();
        var options = new DialogOptions { CloseButton = true, MaxWidth = MaxWidth.Small, FullWidth = true };

        var dialogReference = DialogService.Show<SubCategoryDialog>("Créer une nouvelle sous-catégorie", parameters, options);
        var result = await dialogReference.Result;

        if (result != null && !result.Canceled && result.Data is string newItemName && !string.IsNullOrWhiteSpace(newItemName))
        {
            await SubCategoryService.CreateSubCategory(newItemName, CategoryId.Value);
            await FetchSubCategories();
        }
    }
}

<div class="form-group">
    <label>Sous-catégorie</label>
    <MudGrid Class="py-4">

        <MudItem xs="4">
            <MudSelect T="int?" @bind-Value="SelectedId" Label="Sélectionnez une sous-catégorie">
                <MudSelectItem T="int?" Value="@(null)">Sélectionnez une sous-catégorie</MudSelectItem>
                @foreach (var subCategory in subCategories)
                {
                    <MudSelectItem T="int?" Value="@subCategory.SubCategoryID">@subCategory.Name</MudSelectItem>
                }
            </MudSelect>
        </MudItem>
        <MudItem xs="4">

            <MudButton StartIcon="@Icons.Material.Filled.Add" OnClick="@OpenNewItemModal" Variant="Variant.Filled">
                Nouvelle sous-catégorie
            </MudButton>
        </MudItem>
    </MudGrid>
</div>
